{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Form</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form class="needs-validation" action="/form" method="post">

          <div class="form-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required="required">
          </div>


            <div class="form-group" id="house">
                <select class="form-control" name="house" required="required">
                  <option disabled selected value="">House</option>
                  <option>Gryffindor</option>
                  <option>Ravenclaw</option>
                  <option>Hufflepuff</option>
                  <option>Slytherin</option>

            </select>
          </div>


                <div class="checkbox" id="position">
                  <input type="radio" name="position" value="Chaser"> Chaser <br>
                  <input type="radio" name="position" value="Beater"> Beater <br>
                  <input type="radio" name="position" value="Seeker"> Seeker <br>
                  <input type="radio" name="position" value="Keeper"> Keeper <br>
                </div>

        <!-- http://getbootstrap.com/docs/4.1/components/buttons/ -->
        <div>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

    <script>


        // loop through the checkboxes to see if one is checked?


        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
             window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                event.preventDefault();
                 event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>

{% endblock %}
